.hero {
  background-color: var(--gold);
  overflow: hidden;
  position: relative;
  text-align: center;

  @media (--md) {
    text-align: left;
  }

  & * {
    position: relative;
    z-index: 2;
  }

  &__intro {
    @media (--md) {
      align-items: center;
      display: flex;
      margin: 0 auto;
      max-width: 1047px;
    }
  }

  &__content {
    color: white;
    padding: 2em 0;

    @media (--md) {
      padding: 0 0 4em;
      width: 55%;
    }

    @media (--l) {
      padding: 0 0 8em;
      width: 50%;
    }
  }

  &__headline {
    @media (--md) {
      margin-bottom: 0.25em;
    }
  }

  &__product {
    margin: 0 auto;

    img {
      height: auto;
      max-width: 60%;
    }

    @media (--sm) {
      img {
        max-width: 210px;
      }
    }

    @media (--md) {
      padding-top: 4em;
      width: 45%;

      img {
        margin-left: 20%;
        max-width: 60%;
      }
    }

    @media (--l) {
      padding-top: 4em;
      width: 45%;

      img {
        margin-left: 24%;
        max-width: 70%;
      }
    }
  }

  & &__background {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;

    img {
      object-fit: cover;
      width: 100%;
    }

    @media (--md) {
      img {
        height: auto;
        max-height: 860px;
      }
    }
  }

  & .image {
    opacity: 1;
  }
}
