.post {
  display: flex;
  flex-direction: column;
  padding: 0.9rem 0;
  width: 100%;

  @media (--sm) {
    width: 50%;
  }

  @media (--md) {
    width: 33.3333333333%;
  }

  &--latest {
    align-self: normal;
    margin: -7em auto 2em;
    width: auto;

    @media (--sm) {
      margin: -10em 2.25rem 2em;
      padding: 1.08rem 0;
    }

    @media (--md) {
      flex-direction: row;
      margin: -8em auto 2em;
      padding: 2.7rem 1.44rem;
    }

    @media (--l) {
      margin: -12em auto 2em;
    }
  }

  &__image {
    display: flex;
    flex-shrink: 0;
    width: auto;
    height: 18rem;
    padding: 0 0.45rem;

    @media (--sm) {
      padding: 0 0.9rem;
    }

    @media (--md) {
      padding: 0 1.44rem;
    }

    & span {
      background-size: cover;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      filter: contrast(100%);
      transition: 4.5s;
    }

    &--latest {
      width: 100%;
      padding: 0;
      margin: 0;

      @media (--md) {
        height: 100%;
        width: 50%;
      }

      & span {
        background-position: center center;
        width: 100%;
        height: 100%;
      }
    }
  }

  &__meta {
    display: flex;
    flex-grow: 0;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--tan);
    padding: 1.8rem;
    text-align: center;
    height: 9rem;
    margin: 0 0.45rem;

    @media (--sm) {
      margin: 0 0.9rem;
    }

    @media (--md) {
      margin: 0 1.44rem;
    }

    &--icon {
      color: var(--red);
      background-color: var(--tan);
      border-radius: 100%;
      font-size: 1.8rem;
      padding: 0.9rem;
      margin-top: -4.05rem;
      z-index: 1;

      @media (--md) {
        margin-top: -3.6rem;
      }
    }

    &--date {
      button {
        font-size: 0.81rem;
        font-weight: 400;
        letter-spacing: 2px;
      }
    }

    &--cta {
      font-size: 0.94rem;
      font-weight: 600;
      color: var(--red);

      &:hover {
        color: --blackish;
      }
    }

    &--latest {
      background-color: var(--white);
      height: auto;
      padding: 1.8rem;
      text-align: center;
      margin: 0;

      @media (--sm) {
        padding: 2.7rem;
      }

      @media (--md) {
        height: auto;
        width: 50%;
        padding: 4.5rem;
      }

      @media (--l) {
        padding: 9.5rem 5.5rem;
      }

      & .post__meta--icon {
        padding: 0;
        margin: 0 0 0.25em;
        background-color: var(--white);
      }

      & .post__meta--date {
        margin-bottom: 0.5em;
      }

      & .post__meta--title {
        @media (--md) {
          margin-left: auto;
          margin-right: auto;
          max-width: 275px;
        }

        @media (--l) {
          max-width: 400px;

          h4 {
            font-size: 1.75rem;
            line-height: 2.37rem;
          }
        }
      }

      & .post__meta--excerpt {
        padding: 0.5em 0 0.75em;

        p {
          font-size: 15px;
          line-height: 22px;
        }

        @media (--md) {
          padding: 1em 0 1.25em;
        }
      }
    }
  }

  &--hover {
    &.post {
      .post__meta {
        background-color: --blackish;
        transition: 0.72s;

        &--icon {
          background-color: --blackish;
          transition: 0.72s;
        }
      }

      .post__meta--date button {
        color: --white;
      }

      .post__meta--title {
        color: --white;
      }

      .post__meta--cta {
        &:hover {
          color: var(--red);
        }
      }

      & .post__image span {
        filter: contrast(135%);
        transition: 4.5s;
      }

      &--latest {
        .post__meta {
          background-color: --white;

          &--icon {
            background-color: --white;
          }
        }

        .post__meta--date button {
          color: --blackish;
        }

        .post__meta--title {
          color: --blackish;
        }
      }
    }
  }
}
